<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CardiaCare</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <div class="jumbotron">
      <div class="logo-isysrg">
        <img src="../static/images/isysrg_logo.png" width="200px;">
      </div>
      <div class="judul">
        <img src="../static/images/CCTEKS-01.png" width="200px;">
      </div>
      <div class="logo-rsmh">
        <img src="../static/images/rsmh-logo.png" width="200px;">
      </div>
    </div>
    <!-- <nav>
      <p>"The portal to the realm of Artificial Intelligence."</p>
    </nav> -->
  </header>
  <main>
    <div class="inference-box">
      <div class="first-col">
        <div class="input">

          <div class="file">
            <label class="tulisan" for="inference-input-file">Silahkan pilih video/gambar untuk di deteksi: </label>
            <input class="tombol"  type="file" id="inference-input-file" accept="image/*,video/*">
          </div>

          <div class="input-option">
            <!-- <h5 style="margin: 0;">Pilihan:</h5> -->
            <label for="inference-input-checkbox">Apakah Doppler?</label>
            <input type="checkbox" id="inference-input-checkbox">
            <span class="checkbox-text">Ya</span>
          </div>
          <div class="button">
            <input type="button" id="inference-input-button" value="DETEKSI" style="all: unset;">
          </div>
        </div>
        <div class="progress">
          <div class="bar">
            <label for="inference-progress-bar">Loading</label>
            <progress id="inference-progress-bar" value="32" max="100"> 32% </progress>
          </div>
        </div>
      </div>
      <div class="second-col">
        <div class="output">
          <div class="preview">
            <figure>
              <figcaption>Preview Video</figcaption>
              <video src="../static/preview_video/10955284079_preview_video.mp4" controls autoplay loop type="video/mp4"></video>
            </figure>
          </div>
          <div class="inference">
            <figure>
              <figcaption>Inferred Video</figcaption>
              <video src="../static/processed_video/10955284079_processed_video.mp4" controls autoplay loop type="video/mp4"></video>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <p>ISysRG and RSUP. Dr. M. Hoesin &#169; 2024, Intelligent System Research Group Universitas Sriwijaya</p>
  </footer>
  <script src="script.js"></script>
</body>

<script>
  const inferButton = document.getElementById("inference-input-button");
  var i = 0;

  // Add a click event listener to the button
  inferButton.addEventListener("click", () => {
    i++;
    document.getElementById("inference-progress-log").appendChild(document.createElement("br"));
    document.getElementById("inference-progress-log").appendChild(document.createTextNode(`foo ${i}`));
  });

  inferButton.addEventListener("click", () => {
    document.querySelector('.second-col').classList.toggle('active');
  });

  document.getElementById('inference-input-button').addEventListener('click', function() {
    // Scroll to the element with class "second-col"
    document.querySelector('.second-col').scrollIntoView({ behavior: 'smooth' });
  });

</script>
</html>
